@media screen and (max-width:1200px){
    body{
        background-color: chartreuse;
    }
    nav{
        flex-direction: column;
    }
    .slider{
        height: 23vh;
    }
    .logo{
        justify-content: center;
        margin: 12px 0px;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
         margin: 12px 17px;
    }
    nav ul{
        height: 34px;
    }
    .car-item img{
        width: 140px;
    }
}